<mat-toolbar color="primary"
  class="mat-elevation-z2">
  <div class="container">
    <nav class="main-header">
      <div class="brand">
        <span>Recipe App</span>
      </div>
      <div class="links">
        <button mat-stroked-button>
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button mat-stroked-button>
          <mat-icon>menu_book</mat-icon>
          Recipe
        </button>
        <button mat-stroked-button>
          <mat-icon>list_alt</mat-icon>
          Order
        </button>
      </div>
    </nav>
  </div>
</mat-toolbar>