<mat-toolbar color="primary" class="mat-elevation-z2">
  <div class="container">
    <nav class="main-header">
      <div class="brand">
        <span>Recipe App</span>
      </div>
      <div class="links">
        <button mat-stroked-button (click)="onSelect('recipe')">
          <mat-icon>home</mat-icon>
          Recipe
        </button>
        <button mat-stroked-button (click)="onSelect('shopping-list')">
          <mat-icon>menu_book</mat-icon>
          Shopping list
        </button>
        <button mat-stroked-button>
          <mat-icon>list_alt</mat-icon>
          Manage
        </button>
      </div>
    </nav>
  </div>
</mat-toolbar>
